@import "tailwindcss";
@config '../../tailwind.config.ts';

:root {
  --background: #FFF; /* main light */
  --foreground: #000000;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-saira: var(--font-saira);
  --font-poppins: var(--font-poppins);
  --font-cairo: var(--font-cairo);
  --font-major-mono: var(--font-major-mono);
  --breakpoint-xs: 400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e8ecf2;
    --foreground: #0e1218;
    --muted: #131923;
    --muted-foreground: #c8d7ea;
    --primary: #91C8E4;
    --primary-foreground: #0a0d12;
    --accent: #749BC2;
    --ring: #91C8E4;
    --border: #1f2937;
    /* --background: #FFF;
    --foreground: #000; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html { background: var(--background); }
body { min-height: 100vh; }

/* Custom Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.2s;
  opacity: 0;
}



